# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/frontend/node_modules
/backend/.venv
/backend/__pycache__
/backend/src/__pycache__
/backend/tests/__pycache__

# Next.js
/frontend/.next/
/frontend/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/ngrok_*.log
genkit-debug.log

# Environment Variables
.env
.env*.local

# data
/data/

# vercel
.vercel
