# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.loader.js

# Next.js
/.next/
/out/
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Local Environment Variables
.env
.env*
!.env.example
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firebase-debug.log
firestore-debug.log

# Genkit
.genkit/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/env/
/venv/
/ENV/
/env.bak/
/venv.bak/

# SQLite Database
*.db
*.db-journal*
/data/

# Misc
.DS_Store

# IDE / Editor
.idea/
.vscode/*
!.vscode/settings.json

# Test results
/coverage
